/* Full Body */

*{
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
}

/* Navigation Bar */

.navigation_bar{
    border-bottom: 1px solid #412567;
    background: var(--1-a-0-b-2-e, #1A0B2E);
}
.nav{
    display: flex;
    height: 92px;
    padding: 16px 200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.navigation_bar_menu{
    display: flex;
    align-items: center;
    gap: 32px;
}
.navigation_bar_menu a{
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    text-decoration: none;
}
.navigation_button{
    width: 135px;
    display: flex;
    height: 44px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(48deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%));
}
.navigation_button a{
    text-decoration: none;
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

/* Menu */

.hamburger_menu{
    display: none;
}

/* Hero Section */

.hero_section{
    width: 100%;
    background: url(./assets/hero-bg.png) lightgray 50% / cover no-repeat;
    display: flex;
    height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
/* Hero Section Circle */

.hero_circle_div{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    position: relative;
}
.hero_circle{
    width: 100%;
    position: absolute;
    z-index: 1;
}
.mic{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hero_circle_text{
    position: absolute;
    z-index: 3;
    right: 40px;
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    background: var(--00-ff-88, #0F8);
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.50);
}

.hero_section_content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.hero_section_content_text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hero_section_content_text h1{
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}
.hero_section_content_text p{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
}

.hero_section_buttons{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.hero_main_button{
    display: flex;
    height: 44px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(48deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%));
    width: 200px;
}
.hero_main_button a{
    text-decoration: none;
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.hero_secondary_button{
    display: flex;
    height: 44px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10000px;
    border: 1px solid var(--00-ff-88, #0F8);
    width: 148px;
}
.hero_secondary_button a{
    text-decoration: none;
    color: var(--00-ff-88, #0F8);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

/* About Section */

.about{
    display: flex;
    /* width: 1600px; */
    padding: 50px 200px 120px 200px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    background: #1A0B2E;
}
.about_content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.about_content h2{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.about_content p{
    width: 60%;
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    opacity: 0.8;
}
.line{
    width: 100%;
    height: 1px;
    opacity: 0.1;
    background: #FFF;
}
.about_infos{
    display: flex;
    gap: 80px;
    align-self: stretch;
    justify-content: space-between;
}
.about_info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 240px;
}
.about_info h3{
    color: var(--00-ff-88, #0F8);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.about_info p{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

/* Why Choose Section */

.why_choose{
    display: flex;
    padding: 120px 200px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #230E3D;
}
.why_choose h2{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.boxes{
    display: grid;
    gap: 30px;
    grid-auto-rows: 273px;
    grid-auto-columns: 380px;
    grid-template-areas: 
    "box-1 box-2 box-2"
    "box-1 box-3 box-3"
    "box-4 box-4 box-5";
}
.box{
    display: flex;
    /* box-sizing: border-box; */
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.40);
}
.box img{
    width: fit-content;
}
.box h4{
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.box p{
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.6;
}

/* Featured Episodes and Host Section */
.featured_episodes_and_host{
    display: flex;
    /* width: 1600px; */
    padding: 120px 200px;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    background: #1A0B2E;
}

/* Featured Episodes Section */

.featured_episodes{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.featured_episodes h4{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.episodes{
    display: flex;
    gap: 30px;
}
.episode{
    width: 380px;
}
.episode iframe{
    width: 380px;
    height: 214px;
    border-radius: 24px 24px 0 0;
}
.episode_content{
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 12px;
    border-radius: 0 0 24px 24px;
    background: #250D44;
    align-items: start;
}
.episode_content h3{
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.episode_content p{
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.6;
}
.episode_time{
    display: flex;
    gap: 6px;
}
.episode_time img{
    width: 20px;
    height: 20px;
}
.episode_time p{
    color: var(--00-ff-88, #0F8);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

/* Host Section */

.host{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 1200px;
}
.host h4{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.host_card{
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 24px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.40);
}
.host_card_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.host_card > img{
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
}
.host_card h6{
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.host_card p{
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.6;
}
.host_card_social_medias{
    display: flex;
    gap: 8px;
}
.social_media {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.social_media svg,
.social_media img {
    grid-area: 1 / 1;
}